@import "../../custom.scss";

$textDark: $primary;

.container {
    display: grid;
    h1 {
        text-align: "center";
        color: $textDark;
    }
    .videoContainer {
        display: grid;
        justify-content: center;
        align-content: center;
        video {
            width: 60%;
        }
    }
    .formControl {
        margin-right: 5rem;
        border-radius: 5px;
        width: 25rem;
        display: grid;
        justify-content: center;
        align-content: center;
    }
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}