// overwrite theme variables
$primary: #364959;
$secondary: #f7f6f7;
$dark: #735134;
$light: #d9b9a7;
$info: #593622;
$success: #459053;
$warning: #c3801b;
$danger: #f44336;

@import "~bootstrap/scss/bootstrap.scss";

// Definicion de breakpoints
$pantallas-xs: 576px;
$pantallas-sm: 576px;
$pantallas-md: 768px;
$pantallas-lg: 992px;
$pantallas-xl: 1200px;
$pantallas-xxl: 1400px;

@mixin xs {
    @media (max-width: #{$pantallas-xs}) {
        @content;
    }
}
@mixin sm {
    @media (min-width: #{$pantallas-sm}) {
        @content;
    }
}
@mixin md {
    @media (min-width: #{$pantallas-md}) {
        @content;
    }
}
@mixin lg {
    @media (min-width: #{$pantallas-lg}) {
        @content;
    }
}
@mixin xl {
    @media (min-width: #{$pantallas-xl}) {
        @content;
    }
}
@mixin xxl {
    @media (min-width: #{$pantallas-xxl}) {
        @content;
    }
}

// :root {
//   /* Pallet Main Colors */
//   --light-shades: #f7f6f7;
//   --dark-accent: #735134;
//   --main-brand: #364959;
//   --light-accent: #d9b9a7;
//   --dark-shades: #593622;
//   --light-shades-transparent: #f7f6f780;
//   --dark-accent-transparent: #73513480;
//   --main-brand-transparent: #36495980;
//   --light-accent-transparent: #d9b9a780;
//   --dark-shades-transparent: #59362280;
//   /* Color Semantics */
//   --primary: var(--main-brand);
//   --info: var(--dark-shades);
//   --success: #459053;
//   --warning: #c3801b;
//   --danger: #f44336;
//   --primary-transparent: var(--main-brand-transparent);
//   --info-transparent: var(--dark-shades-transparent);
//   --success-transparent: #45905340;
//   --warning-transparent: #c3801b40;
//   --danger-transparent: #f4433640;
//   /* Colores de Texto */
//   --text-color: var(--light-shades);
//   --text-color-transparent: var(--light-shades-transparent);
//   --text-color-dark: var(--main-brand);
//   --text-color-dark-transparent: var(--main-brand-transparent);
// }

// /*
//  TABLA DE TRANSPARENCIAS HEX
//  100% — FF	50% — 80
//  95% — F2	45% — 73
//  90% — E6	40% — 66
//  85% — D9	35% — 59
//  80% — CC	30% — 4D
//  75% — BF	25% — 40
//  70% — B3	20% — 33
//  65% — A6	15% — 26
//  60% — 99	10% — 1A
//  55% — 8C	5% — 0D
//  	        0% — 00
//      */
